/* General Content */



/* Navbar */

.navLogo {
    height: 30px;
    width: 30px;
}

/* Contactpage */
.jumbotron{ 
    background-color:grey !important;  
    overflow: hidden;
}

.tekstkleur{
    color: white;
}
/* Home page*/

.homepagecolor {
    background-color:blue !important;
    padding: 0 0 0 0;

}


.rechts{
    padding: 4% 4% 4% 4%;
    background-color: red;
    height: 85vh;
}

.image{
height: 100%;
width: 100%;
    object-fit: cover;


}

.links{
    background-color: grey;
    padding: 4% 4% 4% 4%;
}

.items{
    background-color: green;
    height: 30%;
    margin-bottom: 4%;
    display: flex;
    overflow-wrap: break-word;
    padding: 2% 2% 2% 2%;
}
.picture{
    height: 100%;
    border-radius: 50%;


}

.text {
    margin-left: 100px;
}

.text2{
    max-width: 60%;


}