/* General Content */



/* Navbar */

.navLogo {
    height: 30px;
    width: 30px;
}

/* Contactpage */
.jumbotron{ 
    background-color:grey !important;
    margin: 0 0 0 0 ;
    
}

.tekstkleur{
    color: white;
}
/* Home page*/

.homepagecolor {
    background-color:white !important;
}

.container
{
background-color: white !important;

}

.rechts{
    align-content: right;
}


